In [15]:
import os
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
from sklearn.model_selection import KFold, cross_val_score
import pandas as pd

In [3]:
os.listdir()

['task_1.ipynb', '.ipynb_checkpoints', 'abalone.csv']

In [4]:
df = pd.read_csv('abalone.csv')
df

,Sex,Length,Diameter,Height,WholeWeight,ShuckedWeight,VisceraWeight,ShellWeight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7
...,...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12

In [9]:
df['Sex'] = df['Sex'].map({'I':0, 'F':-1,'M':1})

In [10]:
df

,Sex,Length,Diameter,Height,WholeWeight,ShuckedWeight,VisceraWeight,ShellWeight,Rings
0,1,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15
1,1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7
2,-1,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9
3,1,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10
4,0,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7
...,...,...,...,...,...,...,...,...,...
4172,-1,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
4173,1,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
4174,1,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
4175,-1,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10
4176,1,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12

In [12]:
y = df.iloc[:,-1]
X = df.iloc[:,:-1]

In [13]:
y

0       15
1        7
2        9
3       10
4        7
        ..
4172    11
4173    10
4174     9
4175    10
4176    12
Name: Rings, Length: 4177, dtype: int64

In [14]:
X

,Sex,Length,Diameter,Height,WholeWeight,ShuckedWeight,VisceraWeight,ShellWeight
0,1,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500
1,1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700
2,-1,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100
3,1,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550
4,0,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550
...,...,...,...,...,...,...,...,...
4172,-1,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490
4173,1,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605
4174,1,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080
4175,-1,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960
4176,1,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950

In [19]:
kf = KFold(shuffle=True, random_state=1)

In [20]:
def cross_val(X, y):
    result = {}
    for k in range(1,50):
        model = RandomForestRegressor(n_estimators=k, random_state=1)
        cross = cross_val_score(model, X, y, cv=kf, scoring='r2')
        result[k] = round(cross.mean(), 2)
    return result

In [23]:
result = cross_val(X,y)
result

{1: 0.11,
 2: 0.34,
 3: 0.41,
 4: 0.44,
 5: 0.47,
 6: 0.47,
 7: 0.48,
 8: 0.48,
 9: 0.49,
 10: 0.5,
 11: 0.49,
 12: 0.5,
 13: 0.5,
 14: 0.51,
 15: 0.51,
 16: 0.51,
 17: 0.51,
 18: 0.52,
 19: 0.52,
 20: 0.52,
 21: 0.52,
 22: 0.52,
 23: 0.52,
 24: 0.52,
 25: 0.52,
 26: 0.52,
 27: 0.52,
 28: 0.53,
 29: 0.53,
 30: 0.53,
 31: 0.53,
 32: 0.53,
 33: 0.53,
 34: 0.53,
 35: 0.53,
 36: 0.53,
 37: 0.53,
 38: 0.53,
 39: 0.53,
 40: 0.53,
 41: 0.53,
 42: 0.53,
 43: 0.53,
 44: 0.53,
 45: 0.53,
 46: 0.53,
 47: 0.53,
 48: 0.53,
 49: 0.53}

In [24]:
with open('ans_1', 'w') as f:
    f.write('28')