In [1]:
import os
import pandas as pd
import numpy as np
from math import exp
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score
from sklearn.preprocessing import StandardScaler
from scipy.spatial import distance
for i in os.listdir():
    print(i)

data-logistic.csv
task_3.ipynb
a_1.txt
perceptron-test.csv
a.txt
task 3.ipynb
task_1.ipynb
a_2.txt
.ipynb_checkpoints
perceptron-train.csv
a_4.txt
task_2.ipynb
data.csv
a_3.txt

In [2]:
df = pd.read_csv('data-logistic.csv', header=None)

In [3]:
df

     0         1          2
0   -1 -0.663827  -0.138526
1    1  1.994596   2.468025
2   -1 -1.247395   0.749425
3    1  2.309374   1.899836
4    1  0.849143   2.407750
..  ..       ...        ...
200  1  4.245176   3.053931
201  1  2.437935   1.357804
202 -1 -1.876638   1.533398
203  1 -6.824446 -13.934211
204 -1  0.001805   0.865147

[205 rows x 3 columns]

In [4]:
X = df[df.columns[1:]].values
y = df[df.columns[0]].values

In [6]:
w1 = 0
w2 = 0
k = 0.1
alpha = 1e-5

In [57]:
def sigmoid(x):
    return 1.0 / (1.0 + np.exp(-x))

def log_regression(X, y, k, w, C, epsilon, max_iter):
    for i in range(max_iter):
        wnew = w + k * np.mean((X.transpose() * y) * (1 - sigmoid(y * np.dot(X, w))), axis=1) - k * C * w
        if np.sqrt(np.sum(np.square(wnew-w))) < epsilon:
            print (i)
            break
        w = wnew
    predictions = sigmoid(np.dot(X, w))
    return predictions

In [63]:
w = [0.0, 0.0]
p0 = log_regression(X, y, k, np.array(w), C=10, epsilon=0.00001, max_iter=10000)
p1 = log_regression(X, y, k, np.array(w), C=0, epsilon=0.00001, max_iter=10000)

7
243

In [69]:
res_1 = round(roc_auc_score(y, p0), 3)

In [70]:
res_2 = round(roc_auc_score(y, p1), 3)

In [71]:
result = '{} {}'.format(res_2, res_1)

In [72]:
with open('ans_3_1.txt', 'w') as f:
    f.write(result)