In [2]:
import os
import pandas as pd
from sklearn import metrics

In [4]:
for i in os.listdir():
    print(i)

data-logistic.csv
task_3.ipynb
a_1.txt
perceptron-test.csv
a.txt
task 3.ipynb
task_1.ipynb
a_2.txt
.ipynb_checkpoints
perceptron-train.csv
ans_3_1.txt
a_4.txt
classification.csv
task_2.ipynb
data.csv
task_4.ipynb
scores.csv
a_3.txt

In [5]:
file_1 = 'classification.csv'
file_2 = 'scores.csv'

In [6]:
df_1 = pd.read_csv(file_1)
df_2 = pd.read_csv(file_2)

In [7]:
df_1

     true  pred
0       1     0
1       1     1
2       1     1
3       0     0
4       1     1
..    ...   ...
195     0     0
196     0     0
197     1     0
198     0     1
199     0     0

[200 rows x 2 columns]

In [ ]:
"""
TP, FP, FN, TN
TP - количество правильных положительных предсказаний pred = 1 true = 1
FP - количество ложных положительных предсказаний pred = 1 true = 0
TN - количество правильных отрицательных предсказаний pred = 0 true = 0
FN - количество ложны отрицательных предсказаний pred = 1 true = 0
"""

In [157]:
df_1.loc[df_1['pred'] == 1].value_counts()

true  pred
1     1       43
0     1       34
dtype: int64

In [164]:
df_1.loc[df_1['pred'] == 0].value_counts()

true  pred
0     0       64
1     0       59
dtype: int64

In [171]:
#ans_1
TP, FP = df_1.loc[df_1['pred'] == 1].value_counts().values
TN, FN = df_1.loc[df_1['pred'] == 0].value_counts().values
pd.DataFrame(index=[1,0], columns=[1,0], data=[[TP,FP],[FN, TN]])

    1   0
1  43  34
0  59  64

In [172]:
a = [TP,FP, FN, TN]
result_1 = []
for i in a:
    result_1.append(str(i))
result_1

['43', '34', '59', '64']

In [173]:
with open('ans_4_1', 'w') as f:
    f.write(' '.join(result_1))

In [76]:
# ans_2
acc = metrics.accuracy_score(df_1['true'], df_1['pred'])
prs = metrics.precision_score(df_1['true'], df_1['pred'])
rec = metrics.recall_score(df_1['true'], df_1['pred'])
f1 = metrics.f1_score(df_1['true'], df_1['pred'])

In [90]:
list_ac = [acc, prs,rec,f1]
result_2 = []
for i in list_ac:
    result.append(str(round(i,2)))

In [92]:
result_2

['0.54', '0.56', '0.42', '0.48']

In [95]:
with open('ans_4_2', 'w') as f:
    f.write(' '.join(result_2))

In [96]:
#ans_3
df_2

     true  score_logreg  score_svm  score_knn  score_tree
0       0      0.683832   0.145976   0.787063    0.500000
1       1      0.801966   0.239511   1.000000    0.833333
2       0      0.382315  -0.245701   0.000000    0.000000
3       1      0.506797  -0.137058   0.000000    0.105263
4       1      0.488781  -0.154148   0.000000    0.105263
..    ...           ...        ...        ...         ...
195     0      0.573801  -0.088203   0.284192    0.400000
196     0      0.624422  -0.012315   0.205437    0.400000
197     1      0.425538  -0.135673   0.382351    0.700000
198     0      0.905270   0.583806   1.000000    1.000000
199     0      0.275594  -0.422160   0.743567    0.642857

[200 rows x 5 columns]

In [107]:
result_3 = []
for i in df_2.columns[1:]:
    result_3.append(round(metrics.roc_auc_score(df_2['true'], df_2[i]), 2))
result_3

[0.72, 0.71, 0.64, 0.69]

In [111]:
result_3 = df_2.columns[1:][result_3.index(max(result_3))]
result_3

'score_logreg'

In [132]:
with open('ans_4_3', 'w') as f:
    f.write(result_3)

In [130]:
#ans_4
result_4 =[]
for i in df_2.columns[1:]:
    df_3 = pd.DataFrame(metrics.precision_recall_curve(df_2['true'], df_2[i])).T
    result_4.append(round(df_3.loc[df_3[1] >0.7][0].max(),2))
result_4

[0.63, 0.62, 0.61, 0.65]

In [131]:
result_4 = df_2.columns[1:][result_4.index(max(result_4))]
result_4

'score_tree'

In [133]:
with open('ans_4_4', 'w') as f:
    f.write(result_4)